---
import config from "@/config/config.json";
import { IoLogoFacebook, IoLogoLinkedin } from "react-icons/io5";
import { FaXTwitter, FaInstagram } from "react-icons/fa6";

const { base_url } = config.site;
const { title, description, slug, className } = Astro.props;
const shareUrl = `${base_url}/${slug}`;
---

<ul class={`${className}`}>
  <li class="inline-block">
    <a
      aria-label="Share on Facebook"
      href={`https://facebook.com/sharer/sharer.php?u=${shareUrl}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <IoLogoFacebook />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="Share on X"
      href={`https://x.com/intent/post?text=${title}&url=${shareUrl}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <FaXTwitter />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="Share on LinkedIn"
      href={`https://www.linkedin.com/shareArticle?mini=true&url=${shareUrl}&title=${title}&summary=${description}&source=${base_url}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <IoLogoLinkedin />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="Open Instagram"
      href="https://www.instagram.com/"
      target="_blank"
      rel="noreferrer noopener"
    >
      <FaInstagram />
    </a>
  </li>
</ul>
